<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Start Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu-toggle auto-hide="false">
  <ion-list>
    <ion-item>Menu Item</ion-item>
    <ion-item>Menu Item</ion-item>
    <ion-item>Menu Item</ion-item>
    <ion-item>Menu Item</ion-item>
    <ion-item>Menu Item</ion-item>
  </ion-list>
</ion-menu-toggle>