<ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
              <ion-back-button></ion-back-button>
          </ion-buttons>
          <ion-title>My Navigation Bar</ion-title>
        </ion-toolbar>
</ion-header>